<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">

            <!-- Panel heading -->
            <div class="panel-heading">
                {{naplo.megnevezes}}
                <span class="pull-right">Sorszám: {{naploSorszam}}</span>
            </div>

            <!-- Panel body -->
            <div class="panel-body">
                <form name="vevoForm" novalidate>

                    <!-- Első sor -->
                    <div class="row">
                        <!-- Főkönyvi szám -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.fokszam.$invalid && vevoForm.fokszam.$touched}">
                                <label class="control-label">Főkönyvi szám</label>
                                <select class="form-control"
                                        name="fokszam"
                                        ng-required="true"
                                        ng-model="tetel.fokszam"
                                        ng-options="vevo.fokszam as vevo.fokszam + ' - '+ vevo.megnevezes for vevo in vevok">
                                    <option value=""> -- Főkönyvi szám --</option>
                                </select>
                            </div>
                        </div>

                        <!-- Partnerek -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.partner.$invalid && vevoForm.partner.$touched}">
                                <label class="control-label">Partner</label>
                                <select class="form-control"
                                        name="partner"
                                        ng-required="true"
                                        ng-model="tetel.partner"
                                        ng-options="partner.id as partner.nev for partner in partnerek">
                                    <option value=""> -- Partnerek --</option>
                                </select>
                            </div>
                        </div>

                        <!-- Fizetési mód -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.fizmod.$invalid && vevoForm.fizmod.$touched}">
                                <label class="control-label">Fizetési mód</label>
                                <select class="form-control"
                                        name="fizmod"
                                        ng-required="true"
                                        ng-model="tetel.fizmod"
                                        ng-options="fizmod.id as fizmod.megnevezes for fizmod in fizmodok">
                                    <option value=""> -- Fizetési módok --</option>
                                </select>
                            </div>
                        </div>

                        <!-- Bizonylatszám -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.bizszam.$invalid && vevoForm.bizszam.$touched}">
                                <label class="control-label">Bizonylatszám</label>
                                <input type="text" class="form-control"
                                       name="bizszam"
                                       ng-required="true"
                                       ng-model="tetel.bizszam"
                                       ng-blur="checkPartnerAndBizszam()">
                            </div>
                        </div>

                        <!-- Hibaüzenetek -->
                        <div class="col-sm-4">
                            <div ng-if="vevoForm.fokszam.$error.required && vevoForm.fokszam.$touched
                            || vevoForm.partner.$error.required && vevoForm.partner.$touched
                            || vevoForm.fizmod.$error.required && vevoForm.fizmod.$touched
                            || vevoForm.bizszam.$error.required && vevoForm.bizszam.$touched
                            || vevoForm.teljdatum.$error.required && vevoForm.teljdatum.$touched
                            || vevoForm.kialldatum.$error.required && vevoForm.kialldatum.$touched
                            || vevoForm.eseddatum.$error.required && vevoForm.eseddatum.$touched
                            || vevoForm.megnevezes.$error.required && vevoForm.megnevezes.$touched
                            || vevoForm.osszeg.$invalid && vevoForm.osszeg.$touched
                            || vevoForm.sorfokszam.$invalid && vevoForm.sorfokszam.$touched
                            || vevoForm.sormegnevezes.$invalid && vevoForm.sormegnevezes.$touched
                            ">
                                <div class="text-danger"><strong>Hiba</strong></div>
                                <div class="help-block"><span
                                        class="text-danger">Kérem, ellenőrizze a megjelölt mezőket</span>
                                </div>
                            </div>


                        </div>

                    </div>
                    <!-- Első sor vége -->

                    <!-- Második sor: dátumok -->
                    <div class="row">

                        <!-- Teljesítés ideje -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.teljdatum.$invalid && vevoForm.teljdatum.$touched}">
                                <label class="control-label">Teljesítés</label>

                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control"
                                           name="teljdatum"
                                           datepicker-popup
                                           is-open="teljopened"
                                           ng-required="true"
                                           ng-model="tetel.teljdatum">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            ng-click="open($event,'teljopened')">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                </div>
                            </div>
                        </div>

                        <!-- Kiállítás ideje -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.kialldatum.$invalid && vevoForm.kialldatum.$touched}">
                                <label class="control-label">Kiállítás</label>

                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control"
                                           name="kialldatum"
                                           datepicker-popup
                                           is-open="kiallopened"
                                           ng-required="true"
                                           ng-model="tetel.kialldatum">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            ng-click="open($event, 'kiallopened')">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                </div>
                            </div>
                        </div>

                        <!-- Esedékesség ideje -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.eseddatum.$invalid && vevoForm.eseddatum.$touched}">
                                <label class="control-label">Esedékesség</label>

                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control"
                                           name="eseddatum"
                                           datepicker-popup
                                           is-open="esedopened"
                                           ng-required="true"
                                           ng-model="tetel.eseddatum">
                                <span class="input-group-btn"
                                      ng-click="open($event, 'esedopened')">
                                    <button class="btn btn-primary">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Második sor vége -->

                    <!-- Harmadik sor -->
                    <div class="row">
                        <!-- Megnevezés -->
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.megnevezes.$invalid && vevoForm.megnevezes.$touched}">
                                <label class="control-label">Megnevezés</label>
                                <input type="text" class="form-control"
                                       name="megnevezes"
                                       ng-model="tetel.megnevezes"
                                       ng-required="true">
                            </div>
                        </div>

                        <!-- Összeg -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.osszeg.$invalid && vevoForm.osszeg.$touched}">
                                <label class="control-label">Összeg</label>
                                <input type="number" class="form-control"
                                       name="osszeg"
                                       ng-model="tetel.osszeg"
                                       ng-required="true"
                                       ng-pattern="/\d+/"
                                       ng-blur="calculate()">
                            </div>
                        </div>

                        <!-- TK jelleg -->
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Tartozik / Követel</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" value="T"
                                               name="tkjelleg"
                                               ng-model="tetel.tkjelleg"
                                               ng-change="calculate()"> T
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" value="K"
                                               name="tkjelleg"
                                               ng-model="tetel.tkjelleg"
                                               ng-change="calculate()"> K
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Harmadik sor vége -->
                    <hr/>

                    <!-- Negyedik sor -->
                    <div class="row">

                        <!-- Főkönyvi szám -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.sorfokszam.$invalid && vevoForm.sorfokszam.$touched}">
                                <label class="control-label">Főkönyvi szám</label>
                                <select class="form-control"
                                        name="sorfokszam"
                                        ng-required="true"
                                        ng-model="sor.fokszam"
                                        ng-options="fokszam.fokszam as fokszam.fokszam + ' - ' + fokszam.megnevezes for fokszam in szamlatukor">
                                    <option value=""> -- Főkönyvi szám --</option>
                                </select>
                            </div>
                        </div>

                        <!-- Megnevezés -->
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm"
                                 ng-class="{'has-error':vevoForm.sormegnevezes.$invalid && vevoForm.sormegnevezes.$touched}">
                                <label class="control-label">Megnevezés</label>
                                <input type="text" class="form-control"
                                       name="sormegnevezes"
                                       ng-required="true"
                                       ng-model="sor.megnevezes">
                            </div>
                        </div>

                        <!-- TK jelleg -->
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Tartozik / Követel</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" value="T"
                                               name="sor.tkjelleg"
                                               ng-model="sor.tkjelleg"> T
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" value="K"
                                               name="sor.tkjelleg"
                                               ng-model="sor.tkjelleg"> K
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Bruttó Összeg -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label class="control-label">Bruttó Összeg</label>
                                <input type="number" class="form-control"
                                       ng-model="sor.osszeg">
                            </div>
                        </div>

                        <!-- ÁFA -->
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label class="control-label">ÁFA</label>
                                <select class="form-control"
                                        ng-model="sor.afa"
                                        ng-options="afa.fokszam + ' - ' + afa.kulcs + '%-os ÁFA' for afa in afak">
                                    <option value=""> -- ÁFA --</option>
                                </select>
                            </div>
                        </div>

                        <!-- Mehet gomb -->
                        <div class="col-sm-1">
                            <div class="form-group form-group-sm">
                                <label class="control-label">Jóváhagyás</label>
                                <button type="button" class="form-control btn btn-success"
                                        ng-disabled="vevoForm.sorfokszam.$invalid || vevoForm.sormegnevezes.$invalid || sor.osszeg==0"
                                        ng-click="addRow()">Mehet
                                </button>
                            </div>

                        </div>

                    </div>
                    <!-- Negyedik sor vége -->
                    <hr/>
                </form>
                <!-- Kontír -->
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-sm-1">ÁFA</th>
                                <th class="col-sm-1">Fők. szám</th>
                                <th class="col-sm-2">Megnevezés</th>
                                <th class="col-sm-2">Tartozik</th>
                                <th class="col-sm-1">Fők. szám</th>
                                <th class="col-sm-2">Megnevezés</th>
                                <th class="col-sm-2">Követel</th>
                                <th class="col-sm-1">ÁFA</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Kontir sorok -->
                            <tr ng-if="tetel.tkjelleg=='T'">
                                <td></td>
                                <td>{{tetel.fokszam}}</td>
                                <td>{{tetel.megnevezes}}</td>
                                <td>{{tetel.osszeg | number : 0}} Ft</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-if="tetel.tkjelleg=='K'">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{tetel.fokszam}}</td>
                                <td>{{tetel.megnevezes}}</td>
                                <td>{{tetel.osszeg | number : 0}} Ft</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="kontir in tetel.kontir">
                                <td ng-if="kontir.tkjelleg=='T'">{{kontir.afa.kulcs}}</td>
                                <td ng-if="kontir.tkjelleg=='K'"></td>
                                <td ng-if="kontir.tkjelleg=='T'">{{kontir.fokszam}}</td>
                                <td ng-if="kontir.tkjelleg=='K'"></td>
                                <td ng-if="kontir.tkjelleg=='T'">{{kontir.megnevezes}}</td>
                                <td ng-if="kontir.tkjelleg=='K'"></td>
                                <td ng-if="kontir.tkjelleg=='T'">{{kontir.osszeg | number : 0}} Ft</td>
                                <td ng-if="kontir.tkjelleg=='K'"></td>
                                <td ng-if="kontir.tkjelleg=='K'">{{kontir.fokszam}}</td>
                                <td ng-if="kontir.tkjelleg=='T'"></td>
                                <td ng-if="kontir.tkjelleg=='K'">{{kontir.megnevezes}}</td>
                                <td ng-if="kontir.tkjelleg=='T'"></td>
                                <td ng-if="kontir.tkjelleg=='K'">{{kontir.osszeg | number : 0}} Ft</td>
                                <td ng-if="kontir.tkjelleg=='T'"></td>
                                <td ng-if="kontir.tkjelleg=='K'">{{kontir.afa.kulcs}}</td>
                                <td ng-if="kontir.tkjelleg=='T'"></td>
                                <td>
                                    <button ng-if="kontir.fokszam.toString().indexOf('467') === -1"
                                            type="button"
                                            class="btn btn-warning btn-sm"
                                            ng-click="edit($index)">Töröl
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Öszesítő -->
                <div class="row bg-info" style="padding: 5px 0; font-weight: bold">
                    <div class="col-sm-12">
                        <span class="col-sm-2 col-sm-offset-2">Tartozik összesen</span>
                        <span class="col-sm-2">{{tetel.tartosszesen | number : 0}} Ft</span>
                        <span class="col-sm-2 col-sm-offset-1">Követel összesen</span>
                        <span class="col-sm-2">{{tetel.kovosszesen | number : 0}} Ft</span>
                    </div>
                </div>

            </div>


            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="pull-right">
                            <a class="btn btn-danger"
                               ng-click="reset()">
                                Töröl
                            </a>
                            <a class="btn btn-primary"
                               ng-click="save()"
                               ng-disabled="!(tetel.tartosszesen == tetel.kovosszesen && tetel.tartosszesen!=0) || vevoForm.$invalid">
                                Mentés
                            </a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>