<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    ÁFA kulcsok
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form name="afaForm" class="form-horizontal" novalidate>
                            <fieldset class="col-sm-8">

                                <div class="row">
                                    <div class="form-group form-group-sm"
                                         ng-class="{'has-error':afaForm.megnevezes.$invalid && afaForm.megnevezes.$touched}">
                                        <label class="col-sm-4 control-label">Megnevezés: </label>

                                        <div class="col-sm-7">
                                            <input type="text" class="form-control"
                                                   placeholder="Megnevezés"
                                                   name="megnevezes"
                                                   ng-required="true"
                                                   ng-model="afakulcs.megnevezes"
                                                    >
                                            </input>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm"
                                         ng-class="{'has-error':afaForm.kulcs.$invalid && afaForm.kulcs.$touched}">
                                        <label class="col-sm-4 control-label">Kulcs: </label>

                                        <div class="col-sm-5">
                                            <input type="number" class="form-control"
                                                   name="kulcs"
                                                   placeholder="ÁFA kulcs"
                                                   ng-model="afakulcs.kulcs"
                                                   ng-required="true"
                                                   max="100"
                                                    >
                                        </div>
                                        <label class="control-label"> %</label>
                                    </div>

                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-12">
                                            <div class="col-sm-offset-4">
                                                <span class="radio-inline">
                                                    <label>
                                                        <input type="radio"
                                                               name="afatipus"
                                                               value="F"
                                                               ng-disabled="edit"
                                                               ng-model="afakulcs.tipus"
                                                               ng-change="setAfaTipus('F')"
                                                                >
                                                        Fizetendő ÁFA
                                                    </label>
                                                </span>
                                                <span class="radio-inline">
                                                    <label>
                                                        <input type="radio"
                                                               name="afatipus"
                                                               value="L"
                                                               ng-disabled="edit"
                                                               ng-model="afakulcs.tipus"
                                                               ng-change="setAfaTipus('L')"
                                                                >
                                                        Levonható ÁFA
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="afakulcs.tipus==='F'">

                                        <div class="form-group form-group-sm"
                                             ng-class="{'has-error':afaForm.fokszam.$invalid && afaForm.fokszam.$touched}">
                                            <label class="col-sm-4 control-label">Főkönyvi szám: </label>

                                            <div class="col-sm-6">
                                                <select class="form-control"
                                                        name="fokszam"
                                                        ng-required="true"
                                                        ng-model="afakulcs.fokszam"
                                                        ng-selected="afakulcs.fokszam"
                                                        ng-options="fokszam.fokszam as fokszam.fokszam + ' - ' + fokszam.megnevezes for fokszam in fizafak"
                                                        >
                                                    <option value=""> -- Főkönyvi szám --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="afakulcs.tipus==='L'">

                                        <div class="form-group form-group-sm"
                                             ng-class="{'has-error':afaForm.fokszam.$invalid && afaForm.fokszam.$touched}">
                                            <label class="col-sm-4 control-label">Főkönyvi szám: </label>

                                            <div class="col-sm-6">
                                                <select class="form-control"
                                                        name="fokszam"
                                                        ng-model="afakulcs.fokszam"
                                                        ng-required="true"
                                                        ng-selected="afakulcs.fokszam"
                                                        ng-options="fokszam.fokszam as fokszam.fokszam + ' - ' + fokszam.megnevezes for fokszam in levafak"
                                                        >
                                                    <option value=""> -- Főkönyvi szám --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="pull-right">
                            <button type="button" class="btn btn-warning"
                                    ng-click="cancel()"
                                    >Mégsem
                            </button>
                        <button type="button" class="btn btn-danger"
                                ng-if="edit"
                                ng-click="delete()"
                                >Töröl
                        </button>
                        <button type="button" class="btn btn-success"
                                ng-disabled="afaForm.$invalid"
                                ng-click="save()"
                                >Mentés
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>