<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Fizetési módok</h3>
        <button type="button" class="btn btn-primary" ui-sref="fizmodokEdit({id:0})">Új fizetési mód</button>
        <hr/>
        <table class="table">
            <tr>
                <th class="col-sm-3">Megnevezés</th>
                <th class="col-sm-1">Fizetési határidő</th>
                <th class="col-sm-2"></th>
            </tr>
            <tr ng-repeat="fizmod in fizmodok">
                <td><h6>{{fizmod.megnevezes}}</h6></td>
                <td><h6>{{fizmod.fizhatarido}}</h6></td>
                <td><button type="button" class="btn btn-danger pull-right"
                            ng-if="fizmod.torolheto"
                            ui-sref="fizmodokEdit({id:fizmod.id})">Módosít</button> </td>
            </tr>
        </table>
    </div>
</div>