<div class="row">
    <div class="col-sm-12">
        <h2>Napló Lista</h2>
        <h4 class="row">
            <div class="col-sm-4">
                <span>Dátumtól: </span>
                <span>{{data.datumtol | date : 'yyyy-MM-dd'}}</span>
            </div>
            <div class="col-sm-4">
                <span>Dátumig: </span>
                <span>{{data.datumig | date : 'yyyy-MM-dd'}}</span>
            </div>
        </h4>
        <h4 class="row">
            <div class="col-sm-4">
                <span>Napló: </span>
                <span>{{data.tipus.megnevezes}}</span>
            </div>
            <div class="col-sm-4">
                <span>Főkönyvi szám: </span>
                <span>{{data.tipus.fokszam}}</span>
            </div>
        </h4>
        <hr/>
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-primary" ng-click="launch()">Új lekérdezés</button>
            </div>
            <div class="col-sm-3 pull-right">
                <div class="form-inline">
                    <div class="form-group">
                        <label><strong>Keresés: </strong></label>
                        <input type="text" class="form-control input-sm" ng-model="searchKey" placeholder="Keresés">
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <td><strong>Napló</strong></td>
                <td><strong>Teljesítés</strong></td>
                <td></td>
                <td><strong>Fők. szám</strong></td>
                <td><strong>Bizonylat</strong></td>
                <td><strong>Megnevezés</strong></td>
                <td><strong>Tartozik</strong></td>
                <td><strong>Követel</strong></td>
            </tr>
            </thead>
            <tr ng-repeat="tetel in naplo.naploTetelList | filter: searchKey">
                <td>{{tetel.naploKod}}</td>
                <td>{{tetel.teljDatum}}</td>
                <td>{{tetel.tkJelleg}}</td>
                <td>{{tetel.fokSzam}}</td>
                <td>{{tetel.bizSzam}}</td>
                <td>{{tetel.megnevezes}}</td>
                <td ng-if="tetel.tartozik!==0">{{tetel.tartozik | number}}</td>
                <td ng-if="tetel.tartozik===0"></td>
                <td ng-if="tetel.kovetel!==0">{{tetel.kovetel | number}}</td>
                <td ng-if="tetel.kovetel===0"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Összesen: </strong></td>
                <td><strong>{{naplo.tartOsszesen | number}}</strong></td>
                <td><strong>{{naplo.kovOsszesen | number}}</strong></td>
            </tr>
        </table>
    </div>

</div>