<div class="modal-header">
    <h3 class="modal-title">
        Napló
    </h3>
</div>

<div class="modal-body">
    <form name="naploForm">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    <label class="control-label">Dátumtól</label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control"
                               name="datumtol"
                               datepicker-popup
                               is-open="tolopen"
                               ng-model="naplo.datumtol"
                               ng-required="true"
                                >

                        <div class="input-group-btn">
                            <button class="btn btn-info" type="button"
                                    ng-click="open($event,'tolopen')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    <label class="control-label">Dátumig</label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control"
                               name="datumtol"
                               datepicker-popup
                               is-open="igopen"
                               ng-model="naplo.datumig"
                               ng-required="true"
                                >

                        <div class="input-group-btn">
                            <button class="btn btn-info" type="button"
                                    ng-click="open($event,'igopen')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    <label class="control-label">Napló</label>
                    <select class="form-control"
                            name="naplo"
                            ng-required="true"
                            ng-model="naplo.tipus"
                            ng-options="naplo.jel + ' - ' + naplo.megnevezes for naplo in naplok">
                        <option value=""> -- Napló --</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Mégsem</button>
    <button type="button" class="btn btn-primary"
            ng-click="ok()"
            ng-disabled="naploForm.$invalid">Rendben
    </button>
</div>